<%- include("partials/header.ejs") %>
<%- include("partials/sidebar.ejs") %>
<div class="count" style="display: flex;justify-content: center; align-items: center;">
  <div >
    <h1>Welcome to Notoria.AI!</h1>
    <p>A simple and powerful note-taking application.</p>
    <h3>Total Notes: <%=locals.count %></h3>
  </div>
</div>
