<%- include("partials/header.ejs") %>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/book-5296545_1920.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="900" height="900" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Supercharge Your Notes with AI-Powered Insights!</h1>
        <p class="lead">  
            Capture ideas, ask questions, and let AI help you store, retrieve, and refine your notes—all in one secure place. </p>
            
            <p class="fw-bold fs-3">
                Write smarter, remember better!
            </p> 
            
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
         <a href="/auth/loginpage"> <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Get started</button></a>
          
        </div>
      </div>
    </div>
  </div>
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Features</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        </div>
        <h3 class="fs-2 text-body-emphasis">🔹 Smart Organization & Retrieval</h3>
        <p>Effortlessly organize your notes with AI-powered categorization.</p>
       
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        </div>
        <h3 class="fs-2 text-body-emphasis">🔹 Writing & Enhancement</h3>
        <p>Enhance your note-taking experience with real-time writing suggestions.</p>
        
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        </div>
        <h3 class="fs-2 text-body-emphasis">🔹 AI-Powered Q&A Notes</h3>
        <p> With  AI-powered feature, your notes are automatically converted into quiz-style questions and answers, perfect for quick reviews.</p>
       
      </div>
    </div>
  </div>
  <div class="container px-4 py-5" >
    <h2 class="pb-2 border-bottom">Supercharge Your Productivity Now</h2>
    <div class="row">
      <div class="col-xxl-12 d-flex justify-content-center">
         <a href="/auth/loginpage"><button type="button" class="btn btn-primary btn-lg mt-4 px-4 me-md-2">Sign Up</button></a>
          
      </div>
    </div>
  </div>