<%-include("partials/header.ejs") %>
<form action="/auth/saveNewPassword"></form>
<div class="input-group mb-3">
    <span class="input-group-text" >🔒</span>
    <input type="password" class="form-control" placeholder="New password" aria-label="Username" aria-describedby="basic-addon1" name="password" id="password" required minlength="8" maxlength="12">
  </div> <h6>Confirm Password</h6>
<div class="input-group mb-3">
    <span class="input-group-text" >🔒</span>
    <input type="password" class="form-control" placeholder="New password" aria-label="Username" aria-describedby="basic-addon1" name="passwordC" id="passwordConfirm" required minlength="8" maxlength="12">
  </div>
 </form>
 <script>
    const userinputpw = document.querySelector("#password").value.trim();
  const ConfirmPassword = document.querySelector("#passwordConfirm").value

 //Password Patterns

  const passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[^\w\d\s]).{8,}$/; 
   // Updated regex for password

   if (!userinputpw) {
    alert("Password cannot be empty or just spaces.");
    e.preventDefault();
    return;
  }

  if (!passwordPattern.test(userinputpw)) {
    alert("Password must be at least 8 characters long and include letters, numbers, and special characters");
    e.preventDefault();
    return;
  }
  if(userinputpw!==ConfirmPassword){
    alert("Passwords do not match");
    e.preventDefault();
    return;
  }
 </script>